@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.google.com/specimen/Bebas+Neue');
@import url('https://fonts.google.com/specimen/M+PLUS+Rounded+1c');


.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.home-title {
    font-family: 'BebasNeue';
    font-size: 2em;
    margin-top: 10px;
    font-weight: 100px;
    src: url('../fonts/BebasNeue/BebasNeue Thin.otf') format('opentype');
}
.book, .join{
    font-size: 18px;
    border-radius: 5px;
}
.card-img{
    border:10px;
}
main section img{
    box-sizing: border-box;
}
.msg p{
    font-size: .8em;
}
#content{
    max-width: 1600em;
}
nav a{
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
}

  /* --primary-color: #FFF275;
  --secondary-color:#B96D40 ;
  --accent1-color:#3C0000 ;
  --accent2-color: #4C5454; */

body{
    background-color: #FFF275;
    font-family: 'BebasNeue';
    font-size: 22px;
    margin: 0;
    padding: 0;
    src: url('../fonts/BebasNeue/BebasNeue Thin.otf') format('opentype');
}
h2{
    margin: 0;
}
header{
    background-color: #FFF275;
}
nav a:hover{
    background-color: #FFF275;
}
.book, .join{
    background-color: #FFF275;
}
.book:hover, .join:hover{
    background-color: #FFF275;
}
#background{
    background-color: #FFF275;
}
.msg{
    background-color: #FFF275;
    line-Height:1.5;
    padding: 35px;
}
footer{
    background-color: #FFF275;
    margin-top: 200px;
}
nav a{
    color: #3C0000;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    color: #B96D40;
}
.home-title{
    color: #3C0000;
}
h4{
    color: #4C5454;
}
.book, .join{
    color: #3C0000;
    text-decoration: none;
    padding: 15px 30px;
    margin-top:50px;
}
.book:hover, .join:hover{
    color: #B96D40;
}
.msg h2{
    color: #3C0000;
}
.msg p{
    color: #3C0000;
    padding-bottom: 15px;
}
footer{
    color: #3C0000;
    padding: 25px 50px;
}
footer a{
    color: #4C5454;
    text-decoration: none;
}
footer a:hover{
    color: #B96D40;
}
.logo, .icon{
    width: 80px;
}
.icon{
    padding-top: 10px;
}
#hero-img{
    width:100%;
}
footer p a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding: 15px;
}
