#logo{

    width: 10em;
    margin: 5px;

}

header{
    display:grid;
    grid-template-columns: 10% 90% ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #272838 ;
}
header nav{
    font-size: 3em;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}
nav a{
    color:  #F4ECD6;
    text-decoration: none;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FF3C38;
    color:  #F4ECD6;
}

footer{
    background-color:#272838 ;
    width: 100%;
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-bottom: 2em;
}
footer img{
    float: right;
    width: 10%;
    padding-left: 75%;
}
#support_blocks{
    padding-left: 2em;
    width: 10%;
}
nav a:hover{
    color: #b3ad9f;
}




#title img{
    width: 40%;
}



#sponsors{
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 3fr 1.5fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    margin: 5%;
    min-height: 60em;
}
#sponsors img{
    max-height:100%;
    width: 90%;
}

#sponsor_text{
    grid-row: 2/3;
    grid-column: 2/span 3;
    text-align: center;
    align-content: center;
    background-color: #272838;
    margin: 3em;
}
#asus{
    grid-row: 1/span 1;
    grid-column: 1/span 2;
    margin: auto;
}
#alienware{
    grid-row: 1/span 1;
    grid-column: 3/span 1;
    margin:auto;
}
#microsoft{
    grid-row: 1/span 1;
    grid-column: 4/span 2;
    margin:auto;
}
#logitech{
    grid-row: 2/span 1;
    grid-column: 1/span 1;
    margin:auto;
}
#msi{
    grid-row: 2/span 1;
    grid-column: 5/span 1;
    margin:auto;
}
#corsair{
    grid-row: 3/span 1;
    grid-column: 1/span 2;
    margin:auto;
}
#intel{
    grid-row: 3/span1;
    grid-column: 3/span 1;
    margin:auto;
}
#razer{
    grid-row: 3/span 1;
    grid-column: 4/span 2;
    margin:auto;
}

.overlay_alienware{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}
.text{
    color: #F4ECD6;
    font-size: 20px;
    text-align: center;
    align-content: center;
}
#alienware:hover .overlay_alienware{
    opacity: 1;
}

.overlay_asus{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#asus:hover .overlay_asus{
    opacity: 1;
}

.overlay_corsair{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#corsair:hover .overlay_corsair{
    opacity: 1;
}

.overlay_intel{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#intel:hover .overlay_intel{
    opacity: 1;
}

.overlay_logitech{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#logitech:hover .overlay_logitech{
    opacity: 1;
}

.overlay_microsoft{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#microsoft:hover .overlay_microsoft{
    opacity: 1;
}

.overlay_msi{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#msi:hover .overlay_msi{
    opacity: 1;
}


.overlay_razer{
    width: 90%;
    opacity: 0;
    transition: .5s ease;
    background-color: #272838;
}

#razer:hover .overlay_razer{
    opacity: 1;
}