a{

    color:black;
}
a:hover{
    color: brown;
}
nav a{
    color: green;
    padding: 0;
    display: block;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:ghostwhite;
    padding: 10px;
    font-size: 1.5em;
    margin-left: 10%;
    width: 80%;
    align-content: center;
}
h1{
    font-size: 3em;
    display: flex;
    justify-content: center;
    color:darkred;
    background-color: floralwhite;
    padding: 1em;
    margin-left: 9em;
    margin-right: 9em;
}
p{
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    padding: 0;
}
img{
    width: 50%;
    border: 1px;
    padding: 1px;
    box-shadow: 5px 10px black;
    height: auto;
    margin-left: 25%;
}
aside{
    width: 50%;
    margin: auto;
    border: 1em;
    padding: 1em;
    background-color: aliceblue;
    color: black;
}
aside img{
    width: 200px;
    height: auto;
}
footer{
    margin-top: 15px;
    text-align: center;
    border-top: 15px;
}
main{
    max-width: 4000px;
}