
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --padding: 1rem;
}


a{

    color:black;
}
a:hover{
    color: brown;
}
nav a{
    color: green;
    padding: 0.5rem;
    display: block;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-color:ghostwhite;
    font-size: 1.5em;
    align-items: center;
    padding: 15px;
}
h1{
    font-size: 3em;
    justify-content: center;
    display: flex;
    color:darkred;
    border-bottom: 1px;
    background-color: floralwhite;
    width: 100%;
}
h2{
    font-size: 1.5em;
    left: 25px;
    top: 205px;
    color: black;
}
p{
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.3em;
    padding: 0;
}

li{
    margin-left: 1em;
}
main{
    max-width: 8000px;
}
main img{
    width: 200px;
    border: 1px;
    padding: 15px;
    box-shadow: 5px 10px black;
    height: auto;
}
img{
    width: 200px;
    border: 1px;
    padding: 15px;
    box-shadow: 5px 10px black;
    height: auto;
}
aside{
    position: relative;
    width:100%;
    margin: 15px;
    border: 1px;
    padding: 25px;
    background-color: floralwhite;
    color: black;
    /* grid-column: 2/span 1; */
}
aside img{
    width: 200px;
    height: auto;
}
aside h2{
    position: absolute;
}
footer{
    margin-top: 15px;
    border-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

header, .grid, footer{
    max-width: 840px;
    margin: 0 auto;
}

/* class selectors */

.box{
    margin: 1rem;
    border: 1em;
    padding: 1rem;
    background-color: aliceblue;
    color: black;
}
.profile{
    justify-content: center;
}
.profile img{
    float: right;
    margin-left: 1em;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    align-items: center;
}